.alertsWindow {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.animationsList {
  width: 100%;
  height: 100%;
  list-style: none;
  position: relative;
  /* pointer-events: none;
  background: transparent; */
}

.appearItem {
  position: absolute;
  opacity: 0;
  top: 25px;
  left: 100%;
  padding: 10px;

  animation-name: userIsComingBox;
  animation-duration: 4000ms;
  animation-timing-function: linear;
}

.disappearItem {
  position: absolute;
  opacity: 0;
  bottom: 50px;
  left: 30%;
  padding: 10px;

  animation-name: userIsLeaving;
  animation-duration: 4000ms;
  animation-timing-function: linear;
}

.userIsComing {
  position: absolute;
  display: inline-flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  margin: 0;
  opacity: 0;

  animation-name: userIsComing;
  animation-delay: 2100ms;
  animation-duration: 1900ms;
  animation-timing-function: linear;
}

.controlButtonContainer {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes userIsComingBox {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  10% {
    opacity: 1;
    transform: translateX(-150px);
  }

  90% {
    opacity: 1;
    transform: translateX(-300px);
  }

  100% {
    opacity: 0;
    transform: translateX(-400px);
  }
}

@keyframes userIsComing {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes userIsLeaving {
  0% {
    opacity: 0;
    transform: translateX(0) scale(1);
  }

  20% {
    opacity: 1;
    transform: translateX(200px) scale(1.2);
  }

  95% {
    opacity: 1;
    transform: translateX(300px) scale(1.2);
  }

  100% {
    opacity: 0;
    transform: translateX(500px) scale(1);
  }
}
